[% WRAPPER 'include/layout.tt' %]
[% FOREACH entry IN entries %]
<hr />
<div>[% entry.datetime %] by <b><a href="/user/[% entry.user_name %]">[% entry.user_name %]</a> </b>
</div>
<div><b>rum time : </b>[% entry.run_time %] sec</div>
<div><b>result : </b>[% entry.result %]</div>
<div><b>code : </b>
    <pre class="code prettyprint">[% entry.body %]</pre>
</div>
[% IF entry.diff_html %]
<div><b>diff : </b>
    <pre>[% entry.diff_html | mark_raw %]</pre>
</div>
[% END %]
[% END %]

[% END %]
